
 
    <div class="container">
        <div class="lefts">
            <div class="nav-menu">
                <div class="bx bxs-landscape"> Saharudin </div>
                <div class="bx bx-joystick-alt">&nbsp; GAME</div>
                <div class="linkGame">
                   <li><a href="/TicTacToe">Tic Toc Toe</a></li>
                    <li>not</li>
                    <li>not</li>
                    <li>not</li> 
                 </div>
                
                <div class="bx bx-server">&nbsp; Teknologi</div>
                <div class="linkTeknologi">
                    <li>invitation</li>
                     <li>not</li>
                     <li>not</li>
                     <li>not</li> 
                  </div>
            </div>

        </div>
        <div class="rigth">
            <h1>Dashbord</h1>
        </div>
        <div class="rigth-Button">
            <div class="cards">
                <div class="card">
                    <div class="cards-layout">
                        <div class="card1"><img src="img/1.jpeg" alt="" width="100%" height="100%"></div>
                        <div class="card1"><img src="img/2.jpeg" alt="" width="100%" height="100%"></div>
                        <div class="card1"><img src="img/1.jpeg" alt="" width="100%" height="100%"></div>
                        <div class="card1"><img src="img/2.jpeg" alt="" width="100%" height="100%"></div>  
                    </div>
                </div>

            </div>

        <div class="kotak">
            <div class="labelKotak"> Game</div>
            <div class="kotaks">
                <div class="cards1">
                    <div class="pic"><img src="img/3.png" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1>  Tic Tac Toe</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button> <a href="/TicTacToe">coba </a> </button>
                    </div>
                        
                </div>
                <div class="cards1">
                    <div class="pic"><img src="img/1.jpeg" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1>  Tic Tac Toe</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button>coba</button>
                    </div>
                </div>
                <div class="cards1">
                    <div class="pic"><img src="img/1.jpeg" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1>  Tic Tac Toe</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button>coba</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="kotak">
            <div class="labelKotak">Teknologi</div>
            <div class="kotaks">
                <div class="cards1">
                    <div class="pic"><img src="img/1.jpg" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1> Invitation</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button> <a href="/login">coba</a> </button>
                    </div>
                </div>
                <div class="cards1">
                    <div class="pic"><img src="img/1.jpeg" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1>  Tic Tac Toe</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button>coba</button>
                    </div>
                </div>
                <div class="cards1">
                    <div class="pic"><img src="img/1.jpeg" alt="" width="100%" height="100%"> </div>
                    <div class="picCp">
                        <h1>  Tic Tac Toe</h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam velit.</p>
                    <button>coba</button>
                    </div>
                </div>

            </div>
        </div>
        </div>


    </div>