<div class="container">
    <h2>  <span class="masuk">Masuk</span>  || <span class="daftar">Daftar</span></h2>
    
    <div class="container-3">

<div class="register">
      
        <form id="form1" method="post" action="/login">
            <fieldset>
                <legend>Daftar</legend>
                <input type="text" name="nama" placeholder="Nama" required minlength="6">
            <br>
            
            <input type="email" name="email" placeholder="Email"required minlength="6">
            <br>
            
            <input type="password" name="password" placeholder="password" required minlength="6">
            <br>
            <input type="checkbox" name="check" id=""required value="setuju ">
            <span> check untuk Setuju</span>
            <br>
            <button type="submit" id="insert"Insert>Daftar</button> <br>
            </fieldset>
           
        </form>

    </div>
 
    <div class="login">
        
        <form id="form1" method="post" action="/login">
          
            <fieldset>
                <legend>Masuk</legend>
                <input type="text" name="nama" placeholder="Nama" required minlength="6">
            <br>
            
            <input type="email" name="email" placeholder="Email"required minlength="6">
            <br>
            
            <input type="password" name="password" placeholder="password"required minlength="6">
            
            <br>
            <button type="submit" id="insert"Insert>Masuk</button> 
            </fieldset>
            
        </form>

    </div>

    </div>
   
  
</div>