
    <div class="container">
        <h1>Game tic tac toe</h1>
    </div>
<div class="player">
    <p>Players</p>
    <p>player 1 : X =<span id="spasa"></span></p>
    <p>player 2 : O =<span id="spasa1"></span></p>

    </div>

    <div class="content ">
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
        <p class="x"></p>
    </div>
