


<body>
    <div class="container">
        <header>

        </header>
        <div class="bodi">
            <h3>Cards template</h3>
        </div>
        <footer>
            <div class="pheder">
                <p><img src="/img/166264523165477.png"width="100%" alt=""></p>
              
                 <p>Mawar</p>
                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta explicabo magnam dignissimos praesentium nesciunt vitae ratione laboriosam voluptatum qui provident.</p>
                 <p>
                 <button> <a href="http://localhost:3000/input1/<%= data.nama %> ">PILIH</a></button>   
                 </p>
                 
             </div>
            <div class="pheder">
                <iframe src="http://localhost:3000/dashbord/" frameborder="0" width='466' height="400"></iframe>
                 <p>Mawar</p>
                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta explicabo magnam dignissimos praesentium nesciunt vitae ratione laboriosam voluptatum qui provident.</p>
                 <p>
                 <button>Pilih</button>   
                 </p>
                 
             </div>
            <div class="pheder">
               <iframe src="http://localhost:3000/dashbord/" frameborder="0" width='466' height="400"></iframe>
                <p>Mawar</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta explicabo magnam dignissimos praesentium nesciunt vitae ratione laboriosam voluptatum qui provident.</p>
                <p>
                <button>Pilih</button>   
                </p>
                
            </div>
        </footer>
      
    </div> 
    
        












 